{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="center">
  <h1>Login</h1>
  <h3 class="text-muted mb-4">Account must be preregistered</h3>
</div>

  <form action="{% url 'login' %}" method="post">

    <div class="invalid-feedback d-block">{{ form.non_field_errors }}</div>

    {% csrf_token %}
    {% for field in form %}

    <div class="form-group">

      {% if field.errors %}

      <label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ my_field }}
      {{ field|add_class:"form-control is-invalid" }}
      <div class="invalid-feedback">{{ field.errors }}</div>

      {% else %}

      <label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ my_field }}
      {{ field|add_class:"form-control" }}
      <small class="form-text text-muted">{{ field.help_text }}</small>

      {% endif %}

    </div>

    {% endfor %}

    <button type="submit" class="btn btn-primary mb-4">Login</button>
  </form>

{% endblock %}
